.game {
  --piece-size: 50px;
  --margin: 0.1;
  --easeOutCirc: cubic-bezier(0, 0.55, 0.45, 1);
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  max-height: calc(100vh - 80px);
  margin: 40px 0 0 0;
  overflow: auto;
  color: #fff;
  z-index: 1;
}

.puzzleContainer {
  width: 200px;
  height: 225px;
  background: #333;
  box-shadow: 0 0 5px 5px #2d2d2d;
  transition: box-shadow ease-in-out 0.1s;
  margin: 16px;
  padding: 8px;
  user-select: none;
  overflow: hidden;
  z-index: 2;
  &:hover {
    box-shadow: 0 0 5px 5px #2a2a2a;
  }
}

.puzzle {
  padding: 8px 0 0 0;
}

.piece {
  display: flex;
  position: absolute;
  width: calc(var(--piece-size) * (1 - var(--margin)));
  height: calc(var(--piece-size) * (1 - var(--margin)));
  margin: calc(var(--piece-size) * var(--margin) / 2);
  transform: translate(
    calc(var(--piece-size) * var(--x)),
    calc(var(--piece-size) * var(--y))
  );
  border-radius: calc(var(--piece-size) / 16);
  background-color: #111;
  font-weight: 900;
  filter: invert(0%);
  transition: 0.1s transform var(--easeOutCirc), 0.2s filter var(--easeOutCirc);
  &.hidden {
    opacity: 0;
  }
  &.correct {
    filter: invert(100%);
  }
  > .content {
    margin: auto;
    font-size: calc(var(--piece-size) * 9 / 20);
  }
  filter: invert(0%);
  background-color: #222;
  border-radius: 4px;
}

.hidden {
  display: none;
}
