.footer {
  display: flex;
  position: fixed;
  width: 100%;
  height: 40px;
  background: #333;
  bottom: 0;
  box-shadow: 0 0 5px 5px #2d2d2d;
  transition: box-shadow ease-in-out 0.1s;
  align-items: center;
  padding-left: 8px;
  user-select: none;
  z-index: 2;
  &:hover {
    box-shadow: 0 0 5px 5px #2a2a2a;
  }
}

.text {
  font-size: 12pt;
  color: white;
  padding: 0 4px 0 0;
}

.linkText:link {
  color: #0000ff;
}
.linkText:visited {
  color: #0000ff;
}
.linkText:hover {
  color: #ff0000;
}
.linkText:active {
  color: #ff8000;
}
